@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f1f1f1;
    background-color: #121212;
    line-height: 1.6;
}
nav ul li {
    margin: 0 15px;
}
section {
    padding: 60px 20px;
    text-align: center;
    background-color: #1f1f1f;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: fadeInUp 1s ease-in-out;
}
.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.category {
    background: #20a6ff;
    color: #1f1f1f;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    transition: transform 0.3s, background 0.3s;
}

.category:hover {
    transform: translateY(-10px);
    background: #ffffff;
}

.category h3 {
    margin-top: 0;
}

p{
    text-align: justify;
}